$bcolor: #121212
$full: 100%

@mixin border()
    border: 1px solid red

@mixin columnBricks()
    display: flex
    align-items: center
    justify-content: center
    min-height: 10%
    width: $full
    background-color: $bcolor
    border-radius: 10px
    margin-bottom: 8px
