@import 'src/global'

.settings
    color: white
    @include shortcutsContainers(120px)

    &-wifi, &-eye, &-plug
        cursor: pointer
        font-size: 16px

    &-wifi
        color: $red

    &-eye
        color: $orange

    &-plug
        color: $blue
